* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.todo-list {
    width: 340px;
    background-color: crimson;
    color: white;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo-item {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 13px;
    border-bottom: 1px solid whitesmoke;
}

.todo-item input {
    margin-right: 5px;
}